Source: liblim-plugin-opendnssec-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libcommon-sense-perl (>= 3), perl,
 perl (>= 5.10.0) | libdigest-sha-perl (>= 5), liblim-server-perl (= 0.1-1),
 liblim-cli-perl (= 0.1-1)
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/Lim-Plugin-OpenDNSSEC/

Package: liblim-plugin-opendnssec-common-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, liblim-common-perl (= 0.1-1),
 libcommon-sense-perl (>= 3), perl,
 perl (>= 5.10.0) | libdigest-sha-perl (>= 5)
Description: The great new Lim!
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.

Package: liblim-plugin-opendnssec-server-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-plugin-opendnssec-common-perl (= 0.1-1), liblim-server-perl (= 0.1-1)
Description: The great new Lim!
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.

Package: liblim-plugin-opendnssec-client-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-plugin-opendnssec-common-perl (= 0.1-1)
Description: The great new Lim!
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.

Package: liblim-plugin-opendnssec-cli-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, liblim-cli-perl (= 0.1-1),
 liblim-plugin-opendnssec-client-perl (= 0.1-1)
Description: The great new Lim!
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
