Source: liblim-plugin-opendnssec-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libcommon-sense-perl (>= 3), perl,
 perl (>= 5.10.0) | libdigest-sha-perl (>= 5),
 liblim-server-perl (= 0.12-1~unstable+1), liblim-cli-perl (= 0.12-1~unstable+1)
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Standards-Version: 3.9.1
Homepage: http://github.com/jelu/lim-plugin-opendnssec/wiki

Package: liblim-plugin-opendnssec-common-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, liblim-common-perl (= 0.12-1~unstable+1),
 libcommon-sense-perl (>= 3), perl, perl (>= 5.10.0) | libdigest-sha-perl (>= 5)
Description: Common perl libraries for OpenDNSSEC Lim plugin
 Common perl libraries for OpenDNSSEC Lim plugin.

Package: liblim-plugin-opendnssec-server-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-plugin-opendnssec-common-perl (= 0.12-1~unstable+1),
 liblim-server-perl (= 0.12-1~unstable+1)
Description: Server perl libraries for OpenDNSSEC Lim plugin
 Server perl libraries for OpenDNSSEC Lim plugin.

Package: liblim-plugin-opendnssec-client-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblim-plugin-opendnssec-common-perl (= 0.12-1~unstable+1)
Description: Client perl libraries for OpenDNSSEC Lim plugin
 Client perl libraries for communicating with the OpenDNSSEC Lim plugin.

Package: liblim-plugin-opendnssec-cli-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, liblim-cli-perl (= 0.12-1~unstable+1),
 liblim-plugin-opendnssec-client-perl (= 0.12-1~unstable+1)
Description: CLI perl libraries for OpenDNSSEC Lim plugin
 CLI perl libraries for controlling a local or remote OpenDNSSEC installation
 via OpenDNSSEC Lim plugin.
